*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
  }
  
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
  :root {
    --primary-color: #6aa7d7;
    --primary-color-light: #3b9fc9;
    --secondary-color: #ffffff;
    --text-dark: #1f1f20;
    --text-light: #030303;
    --white: #ffffff;
    --max-width: 1200px;
  }
  
  header {
    
    padding: 0px 0px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    background-color: #bd4646;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s ease-in-out;
    
  }
  
 
  .container {
   
    min-height: 96vh;
    padding-inline: 1rem;
    display: grid;
    overflow: hidden;
  }
  .containerContent {
    margin-top: 50px;
    width: 100%;
    padding-block: 2rem;
    max-width: 500px;
    margin-inline: auto;
  }
  
  .containerContent h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  .containerContent form {
    display: grid;
    gap: 5px;
  }
  .containerContent label {
    font-size: 0.9rem;
    color: var(--text-dark);
  }
  .inputRow {
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.75rem 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--secondary-color);
    border-radius: 25px;
  }
  .containerContent input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--text-dark);
    background-color: transparent;
  }
  .containerContent input::placeholder {
    color: var(--text-dark);
  }
  #password-eye {
    color: var(--primary-color);
  }
  .inputFP {
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .inputFP a {
    font-size: 0.9rem;
    color: var(--text-light);
    text-decoration: none;
    transition: 0.3s;
  }
  .inputFP a:hover {
    color: var(--text-dark);
  }
  .containerContent button {
    max-width: 80%;
    margin-left: 10%;
    margin-block: 1rem 2rem;
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5rem;
  }
  .containerContent button:hover {
    background-color: var(--primary-color-light);
  }
  .containerContent h6 {
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-dark);
    text-align: center;
  }
  .logins {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .logins a {
    padding: 0.5rem 2.5rem;
    border: 2px solid var(--text-dark);
    border-radius: 5rem;
  }
  .logins a:hover {
    background: var(--secondary-color);
    border: 2px solid var(--primary-color);
  }
  .logins img {
    display: flex;
    max-width: 20px;
  }
  .containerContent p {
    color: var(--text-light);
    text-align: center;
  }
  .containerContent p a {
    text-decoration: none;
    font-weight: 500;
    color: var(--primary-color);
  }
  .containerImg {
    position: relative;
    isolation: isolate;
    display: grid;
  }
  .containerImg::before {
    position: absolute;
    content: "";
    top: 0;
    left: 10rem;
    height: 100%;
    width: 100vw;
    background-color: var(--secondary-color);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    z-index: -1;
  }
  
  
  body {
    font-family: "Poppins", sans-serif;
    background: url(/images/AD1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }